[Unit]
Description=GitBackup
After=rc-local.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/bin/bash /usr/lib/systemd/system/GitBackup/GitBackup_start.sh 
Restart=always

[Install]
WantedBy=multi-user.target 
