[Unit]
Description=ipsniffer
After=rc-local.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/usr/lib/systemd/system/deluged/
ExecStart=/bin/bash /usr/lib/systemd/system/deluged/start.sh 
Restart=always

[Install]
WantedBy=multi-user.target 
